@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap');

/* inital styling */

:root{
  /* add variable colour */
  --black: #000000;
  --white: #ffffff;
  --light-blue:#8badec;
  --bluer:#2274A5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 40px;
}


body {
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}
